/* Fuente Nunito */ 
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font-family: "Nunito", sans-serif; */

.nav-propio {
    background-color:#F8F6F5;
}

.hero {
    display: flex;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 24px;
    justify-content: space-between;
    gap: 48px;   
     
}
section.hero {
    background-color: #FAF7FF;

}


.hero_izquierda {
    display: flex;
    margin-top: -40px;
    
}

.hero_izquierda h1 {
font-size: 50px;
color: #382079;
font-weight: 500;

}

.hero_izquierda p {
    font-size: 24px;

}




.hero_izquierda {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    margin: 10px;
    
    
}

.hero_izquierda a {
    display: flex;
    border: 1px solid #382079;
    border-radius: 10px;
    padding: 10px 22px;
    max-width: 200px;
    justify-content: center;
    align-items: center;
    background-color: #956DFC;
    text-decoration: none;
    color: #ffffff;
}

.hero_derecha {
    display: flex;
    max-width: 600px;
    margin: 50px;
}
.hero_derecha img {
    width: 100%;
    max-width: 600px;
    height: auto;

}

